<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.helloWorld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>heiondfg</name>
    <description>lol</description>
    <author email="h@fazal.ca" href="http://cordova.io">
        Husain Fazal
    </author>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="com.msopentech.authdialog" version="1" />
    <access origin="*" />
</widget>
